
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.user-card {
  max-width: 200px;
  position: relative;
  top: -100px;
  margin-right: 20px;
}

.user-card-small {
  max-width: 120px;
  margin-right: 20px;
}